<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>source\Appccelerate.StateMachine.sln</Name>
  <NugetSpecFolder>assets/nuget</NugetSpecFolder>
  <SourceFolder>source</SourceFolder>
  <BuildCommand>msbuild source\Appccelerate.StateMachine.sln /t:Clean;Rebuild /p:Configuration=Release</BuildCommand>
  <FastBuildCommand>msbuild source\Appccelerate.StateMachine.sln /t:Build /p:Configuration=Debug</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="https://teamcity.bbv.ch/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" />
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>