<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appccelerate.Development" version="0.18" targetFramework="net45" />
  <package id="Appccelerate.Development.Specs" version="0.18" targetFramework="net45" />
  <package id="Appccelerate.Fundamentals" version="2.1.0-Unstable31" targetFramework="net45" />
  <package id="FakeItEasy" version="1.15.0" targetFramework="net45" />
  <package id="FluentAssertions" version="2.2.0.0" targetFramework="net45" />
  <package id="GitFlowVersionTask" version="0.14.0" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.6.1" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.48.0" targetFramework="net45" />
</packages>